#sources {
    padding: 1;
    width: 30%;
    border: round $accent;
}

#logs {
    padding: 1;
    height: 1fr;
    width: 1fr;
    border: round $accent;
}


#footer {
    height: 1;
}

Input, Select {
    height: 3;
    border: round $accent;
    background: transparent;
    color: $text;
}

DirectoryTree, Tree {
    background: transparent;
}

DirectoryTree TreeLine, Tree TreeLine {
    background: transparent;
}

DirectoryTree > .tree--cursor, Tree > .tree--cursor {
    background: grey;
}

DirectoryTree:focus > .tree--cursor, Tree:focus > .tree--cursor {
    background: grey;
}

#sources:focus, 
#logs:focus, 
#filter-grid:focus-within {
    border: round white;
}

Input:focus, Select:focus {
    background: transparent;
    border: round white;
    color: $text;
}
#filter-grid {
  height: 12;
  border: round $accent;
}

#search {
  width: 40%;
}

#highlight-box, #highlight-box:focus{
  width: 9;
  background: transparent;
  border: transparent;
}
#follow-box, #follow-box:focus{
width: 9;
  background: transparent;
  border: transparent;
}
#regex-box, #regex-box:focus{
width: 9;
  background: transparent;
  border: transparent;
}
#case-insensitive-box, #case-insensitive-box:focus{
width: 9;
  background: transparent;
  border: transparent;

}
#boxes {
width: 50%;
    layout: grid;
    grid-size: 4;
    grid-columns: 1fr 1fr;
    height: auto;
}
TabPane RichLog {
  background: transparent;
  border: round $accent;
}
